.env
back/.env
!.env.example
!.env.back.example
!.env.front.example
.local_configs/
.scratch/
.vscode/

# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
